<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="stylesheet" href="layout1.css">
  <link rel="stylesheet" href="signin.css">
  <link rel="stylesheet" href="topNavigation.css">
  <link rel="stylesheet" href="Aboutme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
		font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="image/logoTitle.png" sizes="16x16" />

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width,initial -scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <title>DuDada WebShop </title>
</head>


<body>


  <div class="header">
    <h2>WELCOME TO MY BLOG</h2>
  </div>

  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>First time writting blog</h2>
        <h5> 1/May/2018</h5>
        <img src="nature/january.jpg" class="storyimg">
        <h5>Of course, this is the first time I create and writng a blog by my self.
          <br>
          So that,I can show you only about myself like hobbit, age, v.v...
          <br>
          The picture above was taken in Spring 2016, in my friend's hometown called Tran Van Thoi. I'm the guy  wearing glasses sitting
          next to the girl holding camera.
          <br>
          That was the first time I went to the country (I live in city whole time of my life).
          It was really really fun...

        </h5>
      </div>
      <div class="card">
        <h2>Playing Guitar</h2>
        <h5>1/May/2018</h5>
        <video   width="320" height="240" controls>
          <source src="nature/healtheworld.mp4" type = "video/mp4">
        </video>
        <h5>Video below is recorded by me. I arranged and played the most famous song, maybe you know that song too, "Heal the world" - Michael Jackson.
        </br>
        Because of my level, so I just can arranged a short of the song. Hope you enjoy my performance.

      </h5>
      </div>

      <div class="card">
        <h2>About my Coding Life</h2>
        <h5>1/May/2018</h5>
        <img src="nature/website.png" class="storyimg">
        <h5>I'm very like coding. I find and learn by my self. I love everything involve logic like IQ,Coding. So I decided to create a Website for my own.
        </br>
        And here is my website, i'm writing it in HTML,CSS, JavaScript and NodeJS.
        <br>
        Because it is in developing process, so some features can not use at this time.

        <a href = "https://dudadawebshop.herokuapp.com">DUDADA WebShop </a>

      </h5>
      </div>

      <!-- <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>

        <p>Some text..</p>
      </div> -->

    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <img src="image/me.jpg" class="fakeimg" style="height:200px;">
        <p>Hi, My name is Duy, i'm 21 years old. I'm a student at HCM University of Science.
          <br>
          My hobbits are play guitar, hangout with my friends, go fishing and travel.
          I'm very interested in taking beautiful pictures of Nature .
          These some pictures below I took on Summer vacation this year.


         </p>
      </div>
      <div class="card">
        <h3>Beautiful Scences</h3>
        <img src="nature/1.jpg" class="fakeimg" >
        <br>
        <img src="nature/2.jpg" class="fakeimg" >
        <br>
        <img src="nature/3.jpg" class="fakeimg" >
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p> If you like my blog or  want to know more about me.
          <br>
          Please click the link below, go to my Facebook page for more "Me" =)))
          <br>

          </p>
      </div>
    </div>
  </div>

  <div class="footer">
    <h2>GOODBYE AND SEE YOU NEXT TIME </h2>
    <center> <h3?<b>Thanks you guy for visting my blogs.  </b> </h3></center>
    <a href = "https://www.facebook.com/truongsi.duy"><button type = "button" class =" button btn-primary" style = "width: 5% ;height: 10%;border-radius: 20%; " ><i class="fa fa-facebook-square"></i> </button> </a>
  </div>


</body>

</html>
