<html lang="en">

<head>
  <link rel="stylesheet" href="layout1.css">
  <link rel="stylesheet" href="signin.css">
  <link rel="stylesheet" href="topNavigation.css">
  <link rel="stylesheet" href="signup.css">
  <link re l="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
		font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="image/logoTitle.png" sizes="16x16" />

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width,initial -scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <title>DuDada WebShop </title>

  <style>
    body {
      font-family: "Open Sans", sans-serif;
      height: 100vh;
      background-image: url("image/background.png");
      background-size: cover;
    }
  </style>

</head>



<body>
  <div class="container contentBox">



    <header>
      <a href="/"><img src = "image/logo.png" style ="margin-top: 30px;"> </a>


      <div class="container contentBox">
        <div class="clear"></div>
    </header>

    <center>
      <center>
        <h3>Hãy nhập email của bạn ở đây...</h3> </center>
      <form method="POST" action="email" name="frm">

        <input type="text" id="email" name="email" placeholder="Email" style="width:80%" required/>


        <button type="submit" class="button btn-primary submit" style="width:20%; border-radius:10%"> Submit</button>
      </form>
    </center>



    </div>




  </div>
  <!--end container contentBox-->
  </div>




</body>

<html>
