<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="stylesheet" href="layout1.css">
  <link rel="stylesheet" href="signin.css">
  <link rel="stylesheet" href="topNavigation.css">
  <link re l="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
		font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="image/logoTitle.png" sizes="16x16" />

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width,initial -scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <title>DuDada WebShop </title>
</head>

<body>
  <div class="container contentBox">
    <header>
      <a href="/"><img src = "image/logo.png" style ="margin-top: 30px;"> </a>
      <% if (user == null) { %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="login">Sign in</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="signup">Sign up</a></li>
            </ul>
          </li>
        </ul>
        <% } else { %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">User Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/customer/history">History Purchase</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="logout">Sign out</a></li>
              </ul>
            </li>
          </ul>
          <% } %>

            <% if (user == null) { %>
              <div id="callNow" style="clear: both;">
                <p id="userName"> </p>
              </div>
              <% } else { %>
                <div id="callNow" style="clear: both;">
                  <center>
                    <h4 id="welcomeMsg" style="margin-right:20px;">  Welcome,<%=user.hoten%></h4>
                  </center>
                </div>
                <% } %>
                  <!--<script>
                // Get the modal
                var modal = document.getElementById('id01');
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                }
              </script>-->
                  <div class="clear"></div>
    </header>

    <!--Top Navigation -->
    <div class="topnav">
      <a class="active" style="width:80px;" href="/"> <i class = "fa fa-home" ></i> </a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <a href="shopcart">    <i class="fa fa-shopping-cart" ></i></a>
      <div class="search-container">
        <form action="/searchProduct">
          <input type="text" placeholder="Search.." name="search">
        </form>
      </div>
    </div>

    <!--Top Navigation -->
    <div class="space"> </div>

    <!--Slider -->
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <center><img src="image/1.jpg" alt="1" width="850" height="300"> </center>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item">
          <center><img src="image/2.jpg" alt="Chicago" width="850" height="300"> </center>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="carousel-item">
          <center> <img src="image/3.png" alt="New York" width="850" height="300"> </center>
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
		    	<span class="carousel-control-prev-icon"></span>
		  	</a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
		    	<span class="carousel-control-next-icon"></span>
		  	</a>
    </div>
    <!--Slider -->

    <div class="space"> </div>

    <!-- Services Details-->
    <div class="row">
      <div class="col-sm-4" style="margin:px">
        <a href="danhsach?type=dientu">
					<img href = "" src = "image/pc.png" alt="đồ điện tử" id = "iconService"/>
					<div id = "textService">
						<h4  >Đồ điện tử</h4>
				</a>

        <p style="font-size: 20px;">
          Nơi bán các mặt hàng điện tử, laptop, v.v...
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <a href="danhsach?type=xe">
					<img src = "image/xe.jpg" alt="xe" id = "iconService" />
					<div id = "textService">
						<h4>Chợ tốt xe</h4>
				</a>
      <p style="font-size: 20px;">
        Nơi bán các loại xe hơi, xe máy, xe lăn, v.v...
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <a href="danhsach?type=giadung">
					<img src = "image/gia_dung.png" alt="giadung" id = "iconService" />
					<div id = "textService">
						<h4>Đồ gia dụng</h4>
				</a>
    <p style="font-size: 20px;">
      Nơi bán các mặt hàng về bếp, dụng cụ ở nhà, v.v...
    </p>
  </div>
  </div>

  </div>


  <div class="space"></div>
  <div class="row">

    <div class="col-sm-4">
      <a href="danhsach?type=mebe">
					<img src = "image/me_be.jpg" alt="me_be" id = "iconService"/>
					<div id = "textService">
		         		<h4 id = "nameMebe">Mẹ và bé</h4>
		        </a>
      <p style="font-size: 20px;">
        Nơi bán các mặt hàng cho mẹ và bé
      </p>
    </div>
  </div>

  <div class="col-sm-4">
    <a href="danhsach?type=fashion">
					<img src = "image/fashion.png" alt="fashion" id = "iconService" />
					<div id = "textService">
		            	<h4>Fashion</h4>
		        </a>
    <p style="font-size: 20px;">
      Nơi bán các mặt hàng thời trang
    </p>
  </div>
  </div>

  <div class="col-sm-4">
    <a href="danhsach?type=thucung">
					<img src = "image/pet.png" alt="pet" id = "iconService"  />
					<div id = "textService">
		            	<h4>Thú cưng</h4>
		        </a>
    <p style="font-size: 20px;">
      Nơi bán các loại thú cưng như chó, mèo, v.v...
    </p>
  </div>
  </div>
  </div>
  <!-- Services Details-->


  <div class="space"></div>

  <p id="seewhatText">About DuDaDa</p>
  <center>
    <div class="shape21">
      This website shop serves about technology's products like mobiles, computers,v.v... We also supply product of fashion, cars, household utensils and pet
      <br> My name is Duy, a student at HCM University of Science. The Brand name is made from the name of Carton Character I like most.
      <br> However, it has been in developing process. So, some services are not working by now. We are so sorry about this.
      <br> We will complete it as soon as we can.
      <br> -- Thanks for visiting our website --

    </div>
    <a href="me"> About me </a>
  </center>


  <div style="float:right; margin-right:3%">Duy, CEO at DuDaDa </div>
  <div class="clear"> </div>
  <div class="space"> </div>

  <div class="space"> </div>
  <!-- close containter-->

  <footer>
    <!-- Contract details-->
    <div class="container" style="background-color:#969696">
      <div class="row">
        <div class="col-sm-3">
          <h4 id="contact">Contact</h4>
          <div>Please contact us through this email:
            <a href="mailto: duytruong0702@gmail.com" style="color:green;">
			            		<br>  <b>Duytruong0702@gmail.com  </b>
			            	</a>
          </div>
        </div>
        <div class="col-sm-3">

          <div id="map" style="margin-top : 10px; width:80%; height:80%;"> </div>
        </div>
        <div class="col-sm-3">
          <h4 id="about">Address</h4>
          <div>15CTT1 - Khoa học tự nhiên
          </div>
        </div>
        <div class="col-sm-3">
          <h4>Visit us on facebook</h4>

          <a href="https://www.facebook.com/truongsi.duy"> <img src = "image/facebook.png" alt = "map" sizes="50x50" /> </a>
          <img src="image/clickme.png" style="margin-top: -10px;" />
        </div>
      </div>

    </div>
    <!-- Contract details-->

    <div class="clear"> </div>

    <!--CoppyRights-->
    <div class="container" style="background-color:#515151">
      <div id="coppyright" style="color: #d9d9d9 ;">Copyright 2018 - DUDADA-WEBISTE - All rights reserved</div>

    </div>

  </footer>
  <!--CoppyRights-->
  </div>

  <script>
    function initMap() {

      var benThanh = {
        lat: 10.772197,
        lng: 106.698272
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: benThanh
      });
      var marker = new google.maps.Marker({
        position: benThanh,
        map: map,
        title: "Welcome to Dudada WebShop !!!"
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCodndO4xHHgof1F3omVMpxJ_kNy1-8x18&callback=initMap">
  </script>

</body>

</html>
