<html lang="en">

<head>
  <link rel="stylesheet" href="layout1.css">
  <link rel="stylesheet" href="signin.css">
  <link rel="stylesheet" href="topNavigation.css">
  <link rel="stylesheet" href="signup.css">
  <link re l="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
		font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="image/logoTitle.png" sizes="16x16" />

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width,initial -scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <title>DuDada WebShop </title>

  <style>
    body {
      font-family: "Open Sans", sans-serif;
      height: 100vh;
      background-image: url("image/background.png");
      background-size: cover;
    }
  </style>

</head>



<body>
  <header>
    <a href="/"><img src = "image/logo.png" style ="margin-top: 30px;"> </a>
    <div class="container contentBox">
      <div class="clear"></div>
  </header>

  <div class="container contentBox">



    <center>
      <form method="POST" action="signup" name="frm">
        <p>
          <input type="text" name="firstname" placeholder="First Name" style="width:40%" required pattern="[A-Za-z\s]{1,50}" title="Chỉ có kí tự chữ cái" />
          <input type="text" name="lastname" placeholder="Last Name" style="width:40%" required pattern="[A-Za-z\s]{1,50}" title="Chỉ có kí tự chữ cái" />
        </p>
        <p>
          <input type="text" name="username" value="" placeholder="Your Username" style="width:80%" required pattern="[A-Za-z0-9]{1,10}" title="Không chứa kí tự đặc biệt" />
        </p>
        <p>
          <input type="password" name="password" placeholder="Password" style="width:80%" required/>
        </p>
        <p>
          <input type="password" onchange="checkPass()" name="re_password" placeholder="Confilm Password" style="width:80%" required/>
        </p>
        <p>
          <input type="text" name="diachi" placeholder="Dia chi" style="width:80%" required pattern="[A-Za-z0-9\s]{1,50}" title="Không chứa kí tự đặc biệt" />
        </p>
        <p>
          <input type="email" name="email" placeholder="Email" style="width:80%" required/>
        </p>
        <p>
          <input type="tel" name="phone" placeholder="Phone Number" style="width:80%" required pattern="[0-9]{1,11}" title="Chỉ có kí tự số" />
        </p>

        <button type="submit" class="button btn-primary submit" style="width:80%">Register</button>
      </form>
    </center>








  </div>
  <!--end container contentBox-->
  </div>



  <script type="text/javascript">
    function checkPass() {
      var password = document.frm.password.value;
      var re_password = document.frm.re_password.value;

      if (password != re_password) {
        alert("Vui lòng nhập lại password");
        document.frm.re_password.value = "";
      }
    }
  </script>

</body>

<html>
