<form action="fileupload" id ="upload" method="post" enctype="multipart/form-data">
   <input type="file" name="filetoupload"><br>
  <input type="button" onclick = "submitform()">
</form>

<form> <input type="form" ></form>
<script> </script>
