<div class="space"> </div>



<% if (product.length != 0) {%>

  <% for (var i=0 ; i< product.length ; i ++)  { %>
    <!-- hàng for fai có product ở trong -->
    <div class="_1sanpham">
      <a href="chitietsanpham?ID=<%= product[i].ID%>" id="link04">
       <%if (product[i].link) {%>
            <img src="img/<%=product[i].link%>.jpg" id="img04" src="" width="200" height="200">
            <%} else {%>
              <img src="img/noimage.jpg" id="img04" src="" width="200" height="200">
              <%}%>
            <p class="tieude" id = "productName4"><%= product[i].name %></p>
      </a>
      <p class="tien" id="productPrice4">
        <%= product[i].price %> đ
      </p>
    </div>
    <% } %>

      <%} else {%>
        <center>
          <h3>No item or product found </h3> </center>
        <%}%>
          <!--end 1hang-->
          <!--end 1hang-->

          <!--end khung-->
