<center>
  <center>
    <h3>Hãy nhập email của bạn ở đây...</h3> </center>
  <form method="POST" action="email" name="frm">

    <input type="text" id="email" name="email" placeholder="Email" style="width:80%" required/>

    <button type="submit" class="button btn-primary submit" style="width:20%; border-radius:10%"> Submit</button>
  </form>
</center>
