
<center><h3 >Quản lý thông tin khách hàng, sản phẩm, thống kê...</h3></center>
<div class="space"> </div>
<!-- Services Details-->
<div class="row">
  <div class="col-sm-6" style="margin:px">
    <a href="/admin/quanlytaikhoan">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Quản lý tài khoản </button>
      </div>
    </a>
  </div>
  <div class="col-sm-6" style="margin:px">
    <a href="/admin/gianhang">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Quản lý gian hàng </button>
      </div>
    </a>
  </div>
</div>

<div class="space"> </div>
<!-- Services Details-->
<div class="row">
  <div class="col-sm-6" style="margin:px">
    <a href="admin/hoadon">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Quản lý đơn đặt hàng </button>
      </div>
    </a>
  </div>
  <div class="col-sm-6" style="margin:px">
    <a href="admin/thongketop10">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Thống kê top 10 </button>
      </div>
    </a>
  </div>
</div>

<div class="space"> </div>
<!-- Services Details-->
<div class="row">
  <div class="col-sm-6" style="margin:px">
    <a href="admin/thongke">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Thống kê doanh số </button>
      </div>
    </a>
  </div>
  <div class="col-sm-6" style="margin:px">
    <a href="">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Biểu đồ + Google analytic </button>
      </div>
    </a>
  </div>
</div>
