<!DOCTYPE html>

<html lang="en">

<head>
  <link rel="stylesheet" href="../signin.css">
  <link rel="stylesheet" href="../layout1.css">
  <link rel="stylesheet" href="../topNavigation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
		font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="image/logoTitle.png" sizes="16x16" />

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width,initial -scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <title>DuDada WebShop Manager</title>
</head>

<body>
  <div class="container contentBox">
    <header>
      <a href="/admin"><img src = "../image/logo.png" style ="margin-top: 30px;"> </a>
        <% if (user == null) { %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Admin Management <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="login">Sign in</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="">Sign up</a></li>
              </ul>
            </li>
          </ul>
        <% } else { %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Admin Management <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="">Admin Account</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="../logout">Sign out</a></li>
                </ul>
              </li>
            </ul>
        <% } %>

        <% if (user == null) { %>
          <div id="callNow" style="clear: both;">
            <p id="userName"> </p>
          </div>
        <% } else { %>
            <div id="callNow" style="clear: both;">
              <center>
                <h4 id="welcomeMsg" style="margin-right:20px;">  Welcome,<%=user.name%></h4>
              </center>
            </div>
        <% } %>
        <div class="clear"></div>
    </header>


    <div class="space"> </div>
    <!-- Services Details-->
    <!--Top Navigation -->
    <div class="topnav">
      <a class="active" style="width:80px;" href=""> <i class = "fa fa-home" ></i> </a>
      <div class="search-container">
        <form action="">
          <input type="text" placeholder="Search.." name="search">
        </form>
      </div>
    </div>

    <!--Top Navigation -->

    <div class="space"> </div>
     <div id="chart_div" style="width:400; height:300"></div>
</body>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Mushrooms', 8],
        ['Onions', 1],
        ['Olives', 1],
        ['Zucchini', 1],
        ['Pepperoni', 2]
      ]);

      // Set chart options
      var options = {'title':'How Much Pizza I Ate Last Night',
                     'width':400,
                     'height':300};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    </script>

</html>
