<!-- Services Details-->
<center><h3 >Quản lý các loại sản phẩm</h3></center>
<div class="space"> </div>
<div class="row">
  <div class="col-sm-6" style="margin:px">
    <a href="/admin/quanlysanpham?type=mebe">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Mẹ Bé </button>
      </div>
    </a>
  </div>
  <div class="col-sm-6" style="margin:px">
    <a href="/admin/quanlysanpham?type=xe">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Xe </button>
      </div>
    </a>
  </div>
</div>

<div class="space"> </div>
<!-- Services Details-->
<div class="row">
  <div class="col-sm-6" style="margin:px">
    <a href="/admin/quanlysanpham?type=fashion">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Fashion </button>
      </div>
    </a>
  </div>
  <div class="col-sm-6" style="margin:px">
    <a href="/admin/quanlysanpham?type=giadung">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Đồ Gia Dụng </button>
      </div>
    </a>
  </div>
</div>

<div class="space"> </div>
<!-- Services Details-->
<div class="row">
  <div class="col-sm-6" style="margin:px">
    <a href="/admin/quanlysanpham?type=dientu">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Đồ điện tử</button>
      </div>
    </a>
  </div>
  <div class="col-sm-6" style="margin:px">
    <a href="/admin/quanlysanpham?type=thucung">
      <div id="textService">
        <button type="button" class="btn btn-lg btn-block btn-primary">Thú cưng </button>
      </div>
    </a>
  </div>
</div>
