<center><h3 >Quản lý danh sách tài khoản</h3></center>
<div class="space"> </div>
<div class="topnav">
  <a class="active" style="width:80px;" href=""> <i class = "fa fa-home" ></i> </a>
  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Search.." name="search">
    </form>
  </div>
</div>

<!--Top Navigation -->

<div class="space"> </div>
<a href="" style="float:right">  <button type = "button" class = "button btn-primary"><i class = "fa fa-plus"></i>  </button> </a>
<br>

<div class="space"> </div>
<div class="list-group">
  <% if (customer.length != 0) {%>
    <% for (var i=0 ; i < customer.length ; i ++)  { %>
      <!-- hàng for fai có product ở trong -->
      <a href="updateCustomer?ID=<%=customer[i].ID%>" class="list-group-item">
        <%= customer[i].hoten %>
          <h6><%= customer[i].email %></h6> </a>
      <% } %>
        <%} else {%>
          <center>
            <h3>No customer found </h3> </center>
          <%}%>
</div>
