<!-- Services Details-->
<!--Top Navigation -->
<center><h3 >Quản lý danh sách sản phẩm</h3></center>
<div class="space"> </div>
<div class="topnav">
  <a class="active" style="width:80px;" href=""> <i class = "fa fa-home" ></i> </a>
  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Search.." name="search">
    </form>
  </div>
</div>

<!--Top Navigation -->
<div class="space"> </div>
<a href="" style="float:right">  <button type = "button" class = "button btn-primary"><i class = "fa fa-plus"></i>  </button> </a>
<br>

<div class="space"> </div>
<div class="list-group">
  <% if (product.length != 0) {%>
    <% for (var i=0 ; i < product.length ; i ++)  { %>
      <!-- hàng for fai có product ở trong -->
      <a href="updateProduct?ID=<%=product[i].ID%>" class="list-group-item">
        <%= product[i].name %>
          <h6><%= product[i].ID %></h6> </a>
      <% } %>
        <%} else {%>
          <center>
            <h3>No product found </h3> </center>
          <%}%>
</div>
